<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PgTour-User</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo.jpg" rel="icon">
  <link href="../img/logo.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/../owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="../css/table.css">

  <!-- =======================================================
  * Template Name: Tempo - v2.2.1
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">PG Tour</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="../img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="home">Home</a></li>
          <li><a href="#roomdetails">Room Details</a></li>
          <li><a href="#payments">Payments</a></li>
          <li><a href="#complaints">Complaint</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/logout">Logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome <strong><%=curuser.name%></strong></h3>
      <h1>SL Ladies PG</h1>
      <h2>Comfort and Safety are our top priorities</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="roomdetails">
      <div class="container">

        <div class="section-title">
          <h2>ROOM DETAILS</h2>
          <%if(curroom!=null){%>
          <h3>Room - <span><%=curroom.roomnum%></span></h3>
        </div>
        <%}else{%>
          <p>Do not belong to any room<p>
        <%}%>

        </div>
    </section>
      
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 col-6">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="" style="pointer-events: none"><%=curroom.sharing%> sharing</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="" style="pointer-events: none">N.o of members(now) = <%=curroom.users.length%></a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="" style="pointer-events: none">Availability = <%=curroom.sharing-curroom.users.length%></a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="" style="pointer-events: none"><%if(curroom.sharing===2){%>7500/- per month<%}else{%>6500/- per month<%}%></a></h3>
            </div>
          </div>
    
      </div>
    </div>
    </section>

    

    

    

    <!-- ======= Team Section ======= -->
    <section id="payments">
      <div class="container">

        <div class="section-title">
          <h2>payments</h2>
        </div>
      <div class="container">
      <table style="width:100%">
        <tr>
          
        <th>Payment ID</th>
        <th>Room number</th>
        <th>User Name</th>
          <th>Date</th>
          
        
        </tr>
        
        
        <%for(i=0;i<payments.length;i++){%> 
          <tr>
            
            <td><%=i+1%></td>
            <td><%=payments[i].roomnum%></td>
            <td><%=payments[i].username%></td>
            <td><%=payments[i].payment_date.toDateString()%></td>
          </tr>
        <%}%>
        </table>
      </div>
    </section><!-- End Team Section -->
    <section id="complaints">
      <div class="container">
        <div class="section-title">
          <h2>Complaint</h2>
        </div>
        <form class="complaint-form" method="POST" action=/addcomplaint>
                                <div class="form-group">
                                    <label for="room-no">Room No</label>
                                    <input type="number" name="roomno"class="form-control" id="room-no" aria-describedby="emailHelp"
                                    placeholder="Enter room no" required>
                                </div>                
                <div class="form-group">
                <label for="complaint-string" style="margin:0 4px 0 0">Complaint</label>
                <input type="String" name="complaintstring"class="form-control" id="complaint-string" aria-describedby="emailHelp"placeholder="Enter Complaint" required>
                </div>
                            
                                <button type="submit" class="btn btn-primary">Register complaint</button>
                            </form>
      </div>

    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>Contact <span>Us</span></h3>
          <
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="/" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>